<h1> Add New Comic To Your Pullbox: </h1>

<form method='POST' action='/comicbooks'>
    <p>Title: <input type='text' name='comicbook[title]'/></p>
    <p>Issue Number: <input type='text' name='comicbook[issue_number]'/></p>
    <p>Publisher: <input type="text" name='comicbook[publisher]'/></p>
    <p>Year: <input type='text' name='comicbook[year]'/></p>
    <p>Writer: <input type='text' name='comicbook[writer]'/></p>
    <p>Artist: <input type='text' name='comicbook[artist]'/></p>
    <p>Price: <input type='text' name='comicbook[cover_price]'/></p>
    <p>Description: <br><textarea name='comicbook[description]' cols=100 rows=5></textarea></p>

    <input type='submit' value='Add To Your List' id='submit'/>
    

</form>

<a href="/users/<%=current_user.id%>"><button>Back To My Pullbox</button></a>