
<a href="/users/:id"> My Pull List</a> <a href="/mycomicbooks/new"> Add To My Pull List</a>
<h1> Hello <%= @user %>! My Digital Pull List </h1>

<% Comicbook.all.each do |c| %>
    <li><a href="/mycomicbooks/<%=c.id%>"><%= c.title %> #<%= c.issue_number %></a></li>
<% end %>




<form method='POST' action='/logout'>
<input type='submit' value='Log Out'>
</form>