<!DOCTYPE html>
<html>

    <head>    
        <link rel="stylesheet" href="../stylesheets/main.css">
    </head>
    <body>
    

        <h1>WELCOME TO MY COMIC PULLBOX</h1>
        <h2>A place for comic enthusiest to archive their comic pullbox digitally!</h2>
        <h3> Please Login/Register Below</h3>

        <form method='POST' action='/login'>
            
            <label for='username'>Username: </label><input type='text' id='username' name='username'><br>
            <label for='password'>Password: </label><input type='password' id='password' name='password'><br>
            <br>
            <input type='submit' value='Login'>
        </form>

        <form method='POST' action='/signup'>
            <input type='submit' value='Register'>
        </form>

    </body>

</html>