<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/main.css">
    </head>
<body>
        <h1> Sign Up Page </h1>

        <form method="POST" action="/signup">
            <label for="firstname">First Name: </label><input type="text" name="user[firstname]"><br>
            <label for="lastname">Last Name: </label><input type="text" name="user[lastname]"><br>
            <label for="email">Email: </label><input type="text" name="user[email]"><br>
            <label for="username">Username: </label><input type="text" name="user[username]"><br>
            <label for="password">Password: </label><input type="password" name="user[password]"><br>
            <br>
            <input type="submit" value="Register">
        </form>

        <h3> Already Registered? Click Here</h3>
        <form method="GET" action="/login">
            <input type="submit" value="Return to Login"><br>
        </form>

</body>
</html>