<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Navigation Bar -->
        <a href="/users/<%=current_user.id%>"> My Pull List</a> <a href="/mycomicbooks/new"> Add To My Pull List</a>
        <title>My Comic Pullbox</title>

    </head>
    <body>
    <header class='header'>
        <h1> ALL COMICS LISTED IN DATABASE</h1>
    </header>
            <ul>
                <% @comicbooks.each do |c| %>
                    <li><a href="/mycomicbooks/<%=c.id%>"><%= c.title %> #<%= c.issue_number %></a></li>
                <% end %>
            </ul>

            <form method='POST' action='/logout'>
                <input type='submit' value='Log Out'>
            </form>
    </body>


</html>
