<h1> Add New Comic To Your Pullbox: </h1>

<form method='POST' action='/mycomicbooks'>
    <p>Title: <input type='text' name='comicbook[title]'/></p>
    <p>Issue Number: <input type='text' name='comicbook[issue_number]'/></p>
    <p>Publisher: <input type="text" name='comicbook[publisher]'/></p>
    <p>Year: <input type='text' name='comicbook[year]'/></p>
    <p>Writer: <input type='text' name='comicbook[writer]'/></p>
    <p>Artist: <input type='text' name='comicbook[artist]'/></p>
    <p>Price: <input type='text' name='comicbook[cover_price]'/></p>
    <p>Description: <br><textarea name='comicbook[description]' cols=100 rows=5></textarea></p>

    <input type='submit' value='Add To Your List' id='submit'/>

</form>

<!-- name= sets the key of the params hash, so it needs to match the db values. -->

<!-- 
<p>Publisher: <input type='radio' id='dc_comics' name='publisher' value='dccomics'/><label for='dccomics'>DC Comics</label>
<input type='radio' id='marvel_comics' name='publisher' value='marvel'/><label for='marvel'>Marvel Comics</label>
<input type='radio' id='image_comics' name='publisher' value='image'/><label for='imagecomics'>Image Comics</label>
<input type='radio' id='boom_studios' name='publisher' value='boom'/><label for='boomstudios'>BOOM! Studios</label>
<input type='radio' id='idw_publishing' name='publisher' value='idw'/><label for='idwpublishing'>IDW Publishing</label></p>
<p>Other: <input type='text' name='publisher'/></p>
-->